<div id="find_friend_form">
  <%= form_with url: '/friends', method: :get, local: true do |f| %>
    <%= f.label :email, 'Email' %>
    <%= f.text_field :email %>
    <%= f.submit 'Find Friend' %>
  <% end %>
</div>

<div id="search_results">
  <% @users&.each do |user| %>
    <%= user.name %>
  <% end %>
</div>

<div id="friends_list">
<% @friends.each do |friend| %>
  <%= friend.name %>
  <% end %>
</div>
