<div style="text-align:center;">
  <div style="padding:80px 0px;">
    <div id="find_friend_form" >
      <div class="mx-auto" style="width: 450px">
        <div class="input-group mb-3">
          <%= form_with url: '/friends', method: :get, local: true do |f| %>
            <h3><%= f.label :email, 'Find a Friend by Email' %></h3>
            <h4><%= 'Type the email address of the friend you would like to find. Your friend will need to make a How Are You Doing accont in order to be found. For demo purposes you can send a friend request to alaina.noel.8@gmail.com and be accepted' %></h4>
            <%= f.text_field :email, placeholder: 'Email Address', class:"form-control" %>
            <%= f.submit 'Find Friend', class:"btn btn-info"%> 
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="mx-auto" style="width: 450px">
    <div id="search_results">
      <% if @user %>
        <% if @user.present? %>
          <h4><%= @user.name %></h4>
          <%= button_to 'Send Friend Request', "/friends?email=#{params[:email]}", class:"btn btn-info" %>
        <% else %>
          <p>No search results</p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="container" style="padding:50px 0px;">
  <div class="row">
    <div class="col-sm" id="sent_friend_requests">
      <div class="justify-content-center">
        <h4>Sent Friend Requests</h4>
          <ul>
            <% @friend_request_sent.each do |friend| %>
              <li><%= friend.email %></li>
            <% end %>
      </div>
    </div>

    <div class="col-lg" id="friends_list">
      <div class="justify-content-center">
        <h3>Friend List</h3>
          <ol>
            <% @accepted_friends.each do |friend| %>
              <li><%= link_to friend.name, "/friends/#{friend.google_id}/posts" %></li>
            <% end %>
          </ol>
      </div>
    </div>
  </div>
</div>
