<div id="find_friend_form">
  <%= form_with url: '/friends', method: :get, local: true do |f| %>
    <%= f.label :email, 'Email' %>
    <%= f.text_field :email %>
    <%= f.submit 'Find Friend' %>
  <% end %>
</div>

<% if @user %>
  <h3>Search Results</h3>
  <div id="search_results">
    <%= @user.name %>
    <%= button_to 'Follow', '/friends' %>
  </div>
<% end %>

<div id="friends_list">
  <h3>Friend List</h3>
  <% @accepted_friends.each do |friend| %>
    <%= friend.name %>
  <% end %>
</div>
