<div id="find_friend_form">
  <%= form_with url: '/friends', method: :get, local: true do |f| %>
    <%= f.label :email, 'Email' %>
    <%= f.text_field :email %>
    <%= f.submit 'Find Friend' %>
  <% end %>
</div>

<div id="search_results">
  <% if @user.present? %>
    <%= @user.name %>
    <%= button_to 'Send Friend Request', "/friends?email=#{params[:email]}" %>
  <% else %>
    <p>No search results</p>
  <% end %>
</div>

<div id="friends_list">
  <h3>Friend List</h3>
  <ol>
    <% @accepted_friends.each do |friend| %>
      <li><%= friend.name %></li>
    <% end %>
  </ol>
</div>

<div id="friend_requests_sent">
  <h3>Friend Requests Sent</h3>
  <ol>
    <% @friend_requests_sent.each do |friend| %>
      <li><%= friend.email %></li>
    <% end %>
  </ol>
</div>
