  <div id='post_<%=@recent_post.id%>'>
    <h2>I am feeling <font color="#17a2b8"><%= @recent_post.emotion %></font>:</h2>
    <p style="color: #17a2b8"> <%= @recent_post.description %></p>
    <p> The tone of your description best matches a <font color="#17a2b8"><%= @recent_post.tone %></font> tone.</p>
    <p> Created on <%= @recent_post.created_at.to_formatted_s(:long_ordinal) %></p>
    <p> This post is currently <%= @recent_post.post_status %></p>
    <%= button_to 'edit this post', edit_post_path, method: :get, params: { post_id: @recent_post.id, source: 'dashboard' } %>
    <%= button_to 'Delete', "/posts/#{@recent_post.id}", method: :delete %>
  </div>
