<!DOCTYPE html>
<html>
<head>
  <title>HowAreYouDoingFe</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <div id="account">
    <% if current_user %>
      <%= button_to "Logout", logout_path, id: "logout", method: :get %>
    <% end %>
  <% if current_page?(dashboard_path) %>
    <%= button_to 'History', history_path, method: :get %>
    <%= button_to 'Friends', friends_path, method: :get %>
  <% elsif current_page?(friends_path) %>
    <%= button_to 'Dashboard', dashboard_path, method: :get %>
    <!-- TODO will update line 21 with friend_path once that functionality is added-->
  <% elsif current_page?(history_path) %> 
    <%= button_to 'Dashboard', dashboard_path, method: :get %>
    <%= button_to 'Friends', friends_path, method: :get %>
  <% end %>
  </div>

</head>

<body>
<%= flash[:success] %>
<%= yield %>
</body>
</html>