<!DOCTYPE html>
<html>
<head>
  <title>HowAreYouDoingFe</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

</head>
<body>
  <div class="nav justify-content-center">
    <div id="account">
      <ul>
        <% if current_user %>
          <li><%= button_to "Logout", logout_path, id: "logout", method: :get, class: "nav justify-content-right" %></li>
        <% end %>
        <% if current_page?(dashboard_path) %>
          <li><%= button_to 'History', history_path, method: :get %></li>
          <li><%= button_to 'Friends', friends_path, method: :get %></li>
        <% elsif current_page?(friends_path) %>
          <li><%= button_to 'Dashboard', dashboard_path, method: :get %></li>
        <% elsif current_page?(history_path) %> 
          <li><%= button_to 'Dashboard', dashboard_path, method: :get %></li>
          <li><%= button_to 'Friends', friends_path, method: :get %></li>
        <% elsif request.original_url.include?("/posts") %>
          <li><%= button_to 'Dashboard', dashboard_path, method: :get %></li>
          <li><%= button_to 'History', friends_path, method: :get %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <% flash.each do |type, message| %>
    <% if type == :success %>
      <div class="alert alert-success" role="alert">
        <%= flash[:success] %>
      </div>
    <% end %>

    <% if type == :error %>
      <div class="alert alert-danger" role="alert">
        <%= flash[:error] %>
      </div>
    <% end %>
  <% end %>

<%= yield %>
</body>
</html>