<!DOCTYPE html>
<html>
<head>
  <title>HowAreYouDoingFe</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

</head>
<style>
body {
  font-family: 'Times New Roman', serif;
}
</style>
<body>

  <div id="account">
    <% if current_user %>
      <%= button_to "Logout", logout_path, id: "logout", method: :get %>
    <% end %>
  <% if current_page?(dashboard_path) %>
    <%= button_to 'History', history_path, method: :get %>
    <%= button_to 'Friends', friends_path, method: :get %>
  <% elsif current_page?(friends_path) %>
    <%= button_to 'Dashboard', dashboard_path, method: :get %>
  <% elsif current_page?(history_path) %> 
    <%= button_to 'Dashboard', dashboard_path, method: :get %>
    <%= button_to 'Friends', friends_path, method: :get %>
  <% elsif request.original_url.include?("/posts") %>
    <%= button_to 'Dashboard', dashboard_path, method: :get %>
    <%= button_to 'History', friends_path, method: :get %>
  <% end %>
  </div>

    <% flash.each do |type, msg| %>
      <% if type == "success" %>
        <div class="alert alert-success" role="alert">
          <p><%= msg %></p>
        </div>
      <% else %>
        <div class="alert alert-danger" role="alert">
          <p><%= msg %></p>
        </div>
      <% end %>
    <% end %>

   <%= yield %>

</body>
</html>